
#search-box {
    width: 100%;
}

.pass-block {
    padding: 10px 0;
    background: #eee;
    margin-top: 10px;
}
.pass-block.row {
    margin-left: 0;
    margin-right: 0;
}

.pass-block .login {
    font-weight: bold;
}
.pass-block .descr {
    font-style: italic;
}

.pass-block .tag {
    background-color: #ffb;
    font-weight: bold;
    margin-right: 5px;
    padding: 3px;
    border: solid 1px #bbb;
}

.pass-block button[disabled="disabled"] {
    opacity: .4;
}

#info-block {
    text-align: right;
}

#header {
    padding: 5px 0;
}
#header h3 {
    margin-top: 0;
    padding-top: 5px;
}

#current-user {
    font-weight: bold;
}

.secure-data-hide {
    background-color: #ddd;
    color: #ddd;
}

.btn-edit-del {
    width: 60px;
}

.files-tbl td {
    padding: 5px;
}

.files-tbl .deleted .t {
    text-decoration: line-through;
}